*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   list-style: none;
}
.do{
   color:green
}
.does{
   color:rgb(163, 179, 163)
}
/* media-query */
@media(max-width:770px){
   .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .memb-box{
      margin-bottom: 2rem;
   }
}
@media(max-width:370px){
   .container{
      padding-left: 0;
      padding-right: 0;
   }
   .service-box , .memb-box img{
      width:50%;
   }
}
@media(max-width:200px){
   .service-name , .service-info{
      font-size: 70%;
   }
}