.outer{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:rgb(106, 214, 241);
}
.main-container{
    background-color:white;
    
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding:20px;
}

.title{
    margin-bottom:25px;
}
.person-box{
    display:flex;
    gap:25px;
    align-items: center;
    margin-bottom:20px;
}
.person-img{
    height:80px;
    width:80px;
    border-radius:50%;
}
.clear-btn{
    padding:20px;
    background-color:rgb(151, 231, 245);
    color:white;
    border-radius:9px;
    cursor:pointer;
    font-size:1.3rem
}

/*media-query */
@media(max-width:1024px){
    .main-container{
        width:50%; 
    }
}

@media(max-width:613px){
    .main-container{
        width:50%; 
    }
    .title{
        font-size:70%;
    }
    .person-info h3 , .clear-btn{
        font-size:40%;
    }
    .person-img{
        height:40px;
        width:40px;
        border-radius:50%;
    }
    .clear-btn{
        padding:5px;
    }
}

@media(max-width:300px){
    .main-container{
        width:60%; 
    }
}
@media(max-width:244px){
    .main-container{
        width:75%; 
    }
}
@media(max-width:200px){
    .main-container{
        width:85%; 
    }
}